@import "../scss/Var.scss";

.cart {
  &-img {
    width: 5rem !important;
  }
  &-btn {
    &-delete {
      @include button-cian;
      color: #222222;
      &:hover {
        color: $color-font-orange;
      }
    }
  }
}
