.cart {
  &-icon {
    font-size: 1.6rem;
    color: #d84727;
    cursor: pointer;
    position: relative;
  }
  &-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: 414px) {
  .cart {
    &-icon {
      padding-right: 0px;
    }
  }
}
