.logo {
	       
  &-hard {
    color: #d84727;
    font-family: 'Black Han Sans';
    font-size: 1.9rem;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  &-store {
    color: #222;
    font-family: 'Inter';
    margin: 0;
  }
}


@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
