@import 'Var.scss';

.SearchIco {
  position: absolute;
  right: 16px;
  top: 13px;
  color: $primary-color;
}
.container-search{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-input{
  position: relative;
  width: 100%;
  font-family: 'Inter';
}

.input-search{
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  transition: ease.6s;
  &:focus {
    filter: drop-shadow(0px 0px 10px #2222);
    color: #d84727;
  }
}