.check {
  &-card {
    &-front {
      &-on {
        position: relative;
        display: flex;
        justify-content: center;
        width: 50%;
        transition: ease-in-out 0.6s;
      }
      &-off {
        width: 0;
      }
      &-img {
        width: 60%;
      }
      &-number {
        position: absolute;
        bottom: 10px;
        left: 23%;
        font-size: 1rem;
        color: #f2f2f2;
      }
    }
    &-back {
      &-on {
        position: relative;
        display: flex;
        justify-content: center;
        width: 50%;
        transition: ease-in-out 0.6s;
      }
      &-off {
        width: 0;
      }
      &-img {
        width: 60%;
      }
      &-number {
        position: absolute;
        bottom: 30%;
        left: 25%;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .check {
    &-card {
      &-front {
        &-on {
          display: flex;
          justify-content: center;
          &-img {
            width: 50%;
          }
        }
        &-number {
          bottom: 0px;
          left: 105px;
          font-size: 1.7rem;
          color: #f2f2f2;
        }

        &-back {
          &-img {
            width: 50%;
          }
          &-number {
            bottom: 35%;
            left: 20px;
            font-size: 1.2rem;
            color: #222222;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .check {
    &-card {
      &-front {
        &-on {
          display: flex;
          justify-content: center;
          &-img {
            width: 50%;
          }
        }
        &-number {
          bottom: 0px;
          left: 55px;
          font-size: 0.9rem;
          color: #f2f2f2;
        }
      }
      &-back {
        &-img {
          width: 50%;
        }

        &-number {
          position: absolute;
          bottom: 10px;
          left: 80px;
          font-size: 0.7rem;
          color: #222222;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .check {
    &-card {
      &-front {
        &-on {
          display: flex;
          justify-content: center;
          &-img {
            width: 50%;
          }
        }
        &-number {
          bottom: 0px;
          left: 44px;
          font-size: 0.7rem;
          color: #f2f2f2;
        }
      }
      &-back {
        &-img {
          width: 50%;
        }
        &-number {
          position: absolute;
          bottom: 10px;
          left: 60px;
          font-size: 0.5rem;
        }
      }
    }
  }
}
@media (max-width: 414px) {
  .check {
    &-card {
      &-front {
        &-img {
          width: 100%;
        }
        &-number {
          bottom: 10px;
          left: 20px;
          font-size: 0.7rem;
          color: #f2f2f2;
        }
      }
      &-back {
        &-img {
          width: 100%;
        }
        &-number {
          bottom: 25%;
          left: 20px;
          font-size: 0.6remrem;
          color: #222222;
        }
      }
    }
  }
}
