@import "../scss/Var.scss";

.categories {
  position: relative;
  transition: ease 0.3s;
  cursor: pointer;
  &:hover {
    color: $primary-color;
  }
  &:hover .menu-ul-sub {
    display: block;
    transform: translatey(0px);
  }
}

.container {
  &-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  &-navbar {
    border-bottom: 1px solid #2222;
  }
}

.menu {
  display: flex;
  &-a {
    color: #222;
    text-decoration: none;
    position: relative;
    transition: ease 0.6s;
    &::before {
      content: "";
      position: absolute;
      background: #d84727;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 0%;
      transition: ease 0.3s;
    }
    &:hover::before {
      width: 100%;
    }
    &:hover {
      color: #d84727;
      text-decoration: none;
      filter: drop-shadow(0px 0px 16px #c9c8c8);
    }
  }
  &-ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    li {
      list-style: none;
    }
    &-sub {
      position: absolute;
      top: 30px;
      left: 0;
      background: #f2f2f2;
      padding: 0px 15px;
      border-radius: 15px;
      z-index: 1;
      transition: ease 0.6s;
      animation: $animation-menu;
      filter: drop-shadow(0px 0px 16px #c9c8c8);
      li {
        margin: 10px 0px;
        color: #222;
        a {
          color: #222;
          text-decoration: none;
          &:hover {
            color: #d84727;
          }
        }
      }
    }
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
