@import "../scss/Var.scss";

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background: #48444466;
  border-radius: 15px;
}
.carousel-btn {
  background: none;
  border: 2px solid $primary-btn-b;
  color: $color-font-cian;
  padding: 10px 45px;
  box-shadow: 1px 1px 25px #00ffb7;
  transition: ease 0.6s;
  &:hover {
    border: 2px solid $primary-color;
    color: #f2f2f2;
    box-shadow: 1px 1px 25px $primary-color;
  }
}
.carousel {
  -webkit-animation: scale-in-hor-center 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
