.container {
  &-search {
    &-result {
      position: absolute;
      z-index: 1000;
      top: 60px;
      right: 34.4%;
      width: 31.2vw;
      background: white;
      border-radius: 0px 0px 16px 16px;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    &-search {
      &-result {
        top: 60px;
        right: 34.8%;
        width: 90vw;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    &-search {
      &-result {
        top: 60px;
        right: 271px;
        width: 29.3vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    &-search {
      &-result {
        top: 108px;
        right: 15px;
        width: 90vw;
      }
    }
  }
}

@media (max-width: 360px) {
  .container {
    &-search {
      &-result {
        top: 108px;
        right: 15px;
        width: 90vw;
      }
    }
  }
}
